body {
  margin: 0;

  /* background-color: #E85090; */
  background-color: #FFFFFF;
  /* color: white; */
  color: black;
  font-family: Arial;
}

label {
  display: inline-block;

  line-height: 34px;
  padding: 5px;

  background-color: rgb(221, 222, 221);
  color: #222222
}

input {
  line-height: 35px;
  padding: 5px;

  border: 0px;
}
